<!DOCTYPE html>

<div style="padding: 20px">
  <button (click)="showReactComponent = !showReactComponent" class="btn">
    {{ showReactComponent ? "Hide" : "Show" }} component from 3rd party library
    `react-select`:
  </button>
  <ng-container *ngIf="showReactComponent">
    <router-outlet></router-outlet>
  </ng-container>
</div>

<hr />
<div style="padding: 20px">
  <a class="btn" routerLink="/dashboard">Go to Dashboard</a>
  <br />
  <button class="btn" style="background-color: blue" (click)="sendToReact1()">
    Send event to FancyBox
  </button>
  <br />
  <button class="btn" style="background-color: red" (click)="sendToReact2()">
    Send event to AnotherBox
  </button>
  <br />
  <div class="two-cols">
    <div>
      <h3>FancyBox (with Shadow DOM + lib.css + FancyBox.css)</h3>
      <shadow-app-react-wrapper rootId="unique-id-for-react-component-fancybox"></shadow-app-react-wrapper>
    </div>
    <div>
      <h3>AnotherFancyBox (with Shadow DOM + lib.css + AnotherFancyBox.css)</h3>
      <shadow-app-react-wrapper [props]="{
          text: 'text from Angular app'
        }" rootId="unique-id-for-react-component-anotherbox"></shadow-app-react-wrapper>
    </div>
  </div>
  <div class="two-cols">
    <div>
      <h3>BlinkBlink with counter from Angular</h3>
      <app-react-wrapper [component]="BlinkBlink" [props]="{
          counter: this.counter
        }" rootId="unique-id-for-react-component-blinkblink"></app-react-wrapper>
    </div>
    <div>
      <h3>BlinkBlink (clickable), current counter: {{ counter }}</h3>
      <app-react-wrapper [component]="BlinkBlink" [props]="{
          counter: this.counter,
          onClick: this.handleClickBlinkFromAngular
        }" rootId="unique-id-for-react-component-blinkblink"></app-react-wrapper>
    </div>
  </div>
  <div class="two-cols">
    <div>
      <h3>
        Placeholder for another React component
      </h3>
    </div>
    <div>
      <h3>
        Pikachu -
        <button (click)="handleClickTogglePikachuSrc()" class="btn">
          toggle image src
        </button>
      </h3>
      <app-react-wrapper [component]="Pikachu" [props]="{
          src: pikachuSrc
        }" rootId="unique-id-for-react-component-pikachu"></app-react-wrapper>
    </div>
  </div>
</div>