<!DOCTYPE html>

<div style="padding: 20px">
  <button (click)="showReactComponent = !showReactComponent" class="btn">
    {{ showReactComponent ? "Hide" : "Show" }} component from 3rd party library
    `react-select`:
  </button>
  <ng-container *ngIf="showReactComponent">
    <router-outlet></router-outlet>
  </ng-container>
</div>

<hr />
<a routerLink="/dashboard">Go to Dashboard</a>
<div style="padding: 20px">
  <button class="btn" style="background-color: blue" (click)="sendToReact1()">
    Send event to FancyBox
  </button>
  <br />
  <button class="btn" style="background-color: red" (click)="sendToReact2()">
    Send event to AnotherBox
  </button>
  <br />
  <div class="two-cols">
    <div style="flex: 1 0 50%">
      <h3>FancyBox</h3>
      <app-react-wrapper
        [component]="FancyBox"
        [props]="{
          text: 'FancyBox from Angular app',
          rxSubject: rxSubject,
          emitEvent: sendFromReact1
        }"
        rootId="unique-id-for-react-component-fancybox"
      ></app-react-wrapper>
    </div>
    <div style="flex: 1 0 50%">
      <h3>AnotherBox</h3>
      <app-react-wrapper
        [component]="AnotherBox"
        [props]="{
          text: 'text from Angular app'
        }"
        rootId="unique-id-for-react-component-anotherbox"
      ></app-react-wrapper>
    </div>
  </div>
  <div class="two-cols">
    <div style="flex: 1 0 50%">
      <h3>BlinkBlink, current counter: {{ counter }}</h3>
      <app-react-wrapper
        [component]="BlinkBlink"
        [props]="{
          counter: this.counter,
          onClick: this.handleClickBlinkFromAngular
        }"
        rootId="unique-id-for-react-component-blinkblink"
      ></app-react-wrapper>
    </div>
    <div style="flex: 1 0 50%">
      <h3>
        Pikachu -
        <button (click)="handleClickTogglePikachuSrc()" class="btn">
          toggle image src
        </button>
      </h3>
      <app-react-wrapper
        [component]="Pikachu"
        [props]="{
          src: pikachuSrc
        }"
        rootId="unique-id-for-react-component-pikachu"
      ></app-react-wrapper>
    </div>
  </div>
</div>
